.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.compose__form {
    text-align: center;
    background-image: linear-gradient(to bottom right, #2c3531, #116466);
    width: 90%;
    height: max-content;
    padding: 1rem;
    margin: 4rem auto;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.compose__form__header {
}

.compose__form input {
    font-size: 1.3rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
}

.compose__form button {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.toolbar {
    background-color: transparent;
    margin-top: 1rem;
    justify-content: center;
    border: none;
}

.editor {
    background-color: transparent;
    border: 1px solid #2dcbce;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 1rem;
    overflow: hidden;
}
