.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.1rem 0.1rem 1rem #2dcbce;
    margin-top: 0;
}

.navbar-brand {
    flex-grow: 0;
    margin-left: 1rem;
}
.navbar-brand h2 span {
    color: white;
    margin-left: 0.5rem;
}

.navbar__user {
    margin-right: 12rem;
}
.navbar__user span {
    color: white;
    margin-left: 0.5rem;
}

.navbar a {
    margin-right: 10px;
}

.navbar-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
}

.active button {
    border: 0.187rem solid cyan;
    color: cyan;
}
