.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.navbar a {
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin: 1rem;
}

.navbar a:hover,
.navbar a:active {
    background-color: #510674;
    border-color: #510674;
}

.navbar a.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.navbar a.alternative:hover,
.navbar a.alternative:active {
    background-color: #ddb3f8;
}
