.form {
    text-align: center;
    background-image: linear-gradient(to bottom right, #2c3531, #116466);
    padding: 1rem;
    margin: 6rem auto;
    width: 22.5rem;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.form__header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #2dcbce;
}

.form input {
    font-size: 1.3rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
}

.form button {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form__footer {
    text-align: center;
    background-color: transparent;
    border: 1px solid #2dcbce;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.form__footer a {
    text-decoration: none;
    color: #2dcbce;
    margin-left: .5rem;
}
