@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans JP", sans-serif;
}

body {
    margin: 0;
    /* background-color: #1a1a1d; */
    background-image: linear-gradient(to right, #2c3531, #116466, #2c3531);
}

/* futuristic colors
dark grey #2c3531
dark teal #116466
mud #d9b08c
light mud #ffcb9a
light grey #d1e8e2 
my teal 2dcbce
*/
